





<h1>アーティスト一覧</h1>

  <% @localartists.each do |localartist| %>
    <div class="col mb-4">
      <div class="card card-cascade m-1">
        <div class="view view-cascade overlay">
          <% if localartist.image? %>
            <%= image_tag "#{localartist.image}",:size =>'100x100' ,class:"card-img-top"%>
            <%= localartist.name %>
            <%# #クリックするとshowに飛ぶようにしたい %>
          <% else %>
            <%= link_to (image_tag 'default.jpg',:size =>'100x100' ,class:"card-img-top"), localartist_path(localartist.id) %>
            <%= localartist.name %>
          <% end %>
        </div>
      </div>

      <div class="row d-flex justify-content-center">
      </div>

    </div>
  <% end %>
