// アーティストのコメント欄
.balloon {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 0 15px;
  padding: 5px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 14px;
  background: #e0edff;
  border-radius: 6px;
}

.balloon:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #e0edff;
}
.comment_form{
  margin:0 auto;
  width:30%;
}
