.localartist_search_upper{
  height:100px;
  text-align:justify;
}
.search_form{
  // formを横並びに
    display:inline-block;
    width:25%;
    margin-left:30px;
    margin-right:0px;
}

.search_button{
    height:30px;
}
.localartist_search_button{
    margin:0 auto;
    width:35%;
}

.localartist_index_posts{
  margin-top:50px;
}
.localartist_index_posts p {
  font-weight:bold;
  text-align:center;
  font-size:2rem;
}

.localartist_profile_lower{
  display:block;
  height:400px;
  // text-align:center;
  word-wrap:break-word;
  margin-top:50px;
}

.localartist_profile_comment_title{
  font-weight:bold;
  text-align:center;
}

.localartist_profile_comment_form{
  text-align:center;
}

.localartist_profile_lower_button_show{
  text-align:center;
  display:flex;
  justify-content:space-around;
}
