.spot_place{
  height:25%;
  width:50%;
}


#map {
  height: 300px;
  width: 600px;

}


.spot_map{
  // display:flex;
  height:300px;
  text-align:center;
  font-size:2rem;
  font-weight:bold;
  word-wrap:break-word;
  margin-top:100px;

}

.spot_map_google{
  padding-left: 400px;
  margin:0 auto;
}


.spot_address_lower{
  display:block;
  height:150px;
  text-align:center;
  font-size:2rem;
  font-weight:bold;
  word-wrap:break-word;
  margin-top:20px;
  margin:0 auto;
  width:50%;
}

.spot_profile_lower_button_show{
  display:flex;
  justify-content:space-around;
  margin-top:30px;
}
